{% extends "base.html" %}
{% block content%}
  <header>
			<h1 class="title">My Network</h1>
	</header>

	<main>
		<ul>
			<li class="cardss">
				<div class="img-card"></div>
				<h2 class= "nome"> Leandro Olivieira </h2>
				<h3 class="curso"> Programação Web </h4>
				<p class="sinopse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora alias, fugit doloremque sequi iure quam maxime dolorem. Quis laudantium nesciunt ut, quibusdam possimus delectus, ratione nostrum, reiciendis iusto ullam aliquid.</p>
				<a class="btn-verMais" href="#">Ver mais</a>
				</li>

				<div class="cardss">	</div>	
				<div class="cardss">	</div>	
				<div class="cardss">	</div>	
				<div class="cardss">	</div>	
				<div class="cardss">	</div>	
                {%include 'components/card.html' with size="medium" image="" name="Mccartheney Mendes" course="web development" description="Sou em desenvolvedor web fullstack, atualmente estou fazendo o curso de desenvolvimento web para mehorar as minhas habilidades e tmb criar uma networking" %}
                {%include 'components/card.html' with size="medium" image="" name="Mccartheney Mendes" course="web development" description="Sou em desenvolvedor web fullstack, atualmente estou fazendo o curso de desenvolvimento web para mehorar as minhas habilidades e tmb criar uma networking" %}
                {%include 'components/card.html' with size="medium" image="" name="Mccartheney Mendes" course="web development" description="Sou em desenvolvedor web fullstack, atualmente estou fazendo o curso de desenvolvimento web para mehorar as minhas habilidades e tmb criar uma networking" %}
                {%include 'components/card.html' with size="medium" image="" name="Mccartheney Mendes" course="web development" description="Sou em desenvolvedor web fullstack, atualmente estou fazendo o curso de desenvolvimento web para mehorar as minhas habilidades e tmb criar uma networking" %}
                {%include 'components/card.html' with size="medium" image="" name="Mccartheney Mendes" course="web development" description="Sou em desenvolvedor web fullstack, atualmente estou fazendo o curso de desenvolvimento web para mehorar as minhas habilidades e tmb criar uma networking" %}
                {%include 'components/card.html' with size="medium" image="" name="Mccartheney Mendes" course="web development" description="Sou em desenvolvedor web fullstack, atualmente estou fazendo o curso de desenvolvimento web para mehorar as minhas habilidades e tmb criar uma networking" %}
                {%include 'components/card.html' with size="medium" image="" name="Mccartheney Mendes" course="web development" description="Sou em desenvolvedor web fullstack, atualmente estou fazendo o curso de desenvolvimento web para mehorar as minhas habilidades e tmb criar uma networking" %}
                {%include 'components/card.html' with size="medium" image="" name="Mccartheney Mendes" course="web development" description="Sou em desenvolvedor web fullstack, atualmente estou fazendo o curso de desenvolvimento web para mehorar as minhas habilidades e tmb criar uma networking" %}


		</ul>   
	</main>

{% endblock%}   