.chat_app
    display: flex
    color: white

    .all_chats
        width: 17.5vw

    .chat
        
        width: 82.5vw
        height: calc( 100vh - 120px )
        display: flex
        flex-direction: column
        justify-content: flex-end

        .message 
            padding: 20px 0px 20px 0px
        