<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Netics{% endblock %}</title>
</head>

<body>
    {% include 'particle/particle.html' with quantity=particles %}

    <div class="topBar">
        <div class="logo">
            <a href="/">
                <img src="{% static 'images/logo/logo.png' %}" alt="logo">
            </a>
        </div>

        <nav>
            <a href="/" id = "Home-page" class="actualPage">Home</a>
            <a href="/network" id = "Network-page" class="actualPage">My network</a>
            <a href="/chat" id = "Chat-page" class="actualPage">Chat</a>
            <a href="/perfil" class="user">
                <img src="{% static 'images/defaultUser/default_user.png' %}" alt="">
            </a>
        </nav>
    </div>

    {% block content %}

    {% endblock%}

    <script type="module" src="{% static 'js/currentPage/currentPage.js'%}"></script>

</body>

</html>