{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="container">
    <div class="sidebar">
        Chat List
        {{ active_users }}
        {% for chat in chats_list %}
        <div class="wrapper">
            <div class="profimage">
            </div>
            <div class="cardChat">
                <p>
                    {% for user_id in chat.users %}
                    {% if user_id != user_profile %}
                    {{ users_list|get_item:user_id }}
                    {% endif %}
                    {% endfor %}
                </p>
                <p>{% with chat.messages|last as last_message %}
                    {{ last_message.content }}
                    {% endwith %}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="chatcontainer"></div>

</div>


<script>
    window.onload = () => {
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
        );

        // Connection opened
        chatSocket.addEventListener("open", (event) => {
            console.log('client says connection opened')
        });

        // Connection closed
        chatSocket.addEventListener("close", (event) => {
            console.log('client says connection closed')
        });
    }
</script>

{% endblock %}