{% extends "base.html" %}
{% load static %}

{% block content %}

userchat
{% for chat in chats_list %}

<li> {{ chat }} </li>

{% endfor %}

<script>
    const chat_id = `{{chat_id}}`
    const user_id = `{{user_id}}`
    const contact_id = `{{contact_id}}`

    window.onload = (event) => {
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + chat_id
            +'/'
        );

        // Connection opened
        chatSocket.addEventListener("open", (event) => {
            console.log('client says connection opened')
        });

        // Connection closed
        chatSocket.addEventListener("close", (event) => {
            console.log('client says connection closed')
        });

        chatSocket.addEventListener("message", (event) => {
            const data = JSON.parse(event.data);
            console.log("data: " + JSON.stringify(data)); // Check the structure of the received data
            
            const list = document.getElementById("tweet-list");
            if (list) {
                list.innerHTML += `
                <div class="tweet">
                    <span class="user">${data['user']}</span>
                    <span class="timestamp">${data['date']}</span>
                    <div class="content">
                        ${data['message']}
                    </div>`
                list.innerHTML += `</div>`;
            }
        });


        
        document.getElementById('submitMessage').onclick = (e) => {
            const messageInputDom = document.querySelector('#your_message');
            const message = messageInputDom.value;

            chatSocket.send(JSON.stringify({
                'message': message,
            }));
    
            messageInputDom.value = '';


            const data = {
                user_id: user_id,
                chat_id : chat_id,
                content_message : message
            };
        
            
            fetch('http://localhost:8000/add_message/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => console.error('Erro:', error));
            }
        
        fetchMessages()

        event.preventDefault();
    }

async function fetchMessages() {
    const dataToGetMessages = {
        "chat_id": chat_id
    }

    try {
        const response = await fetch('http://localhost:8000/get_messages/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(dataToGetMessages)
        });

        if (!response.ok) {
            throw new Error('Erro na resposta da rede');
        }

        const data = await response.json();
        const all_messages = data.message;
        
        const list = document.getElementById("tweet-list");
        if (list) {
            list.innerHTML += all_messages.map(msg => `
            <hr/>
            <div class="tweet">
                <span class="user">user id : ${msg.user_id}</span>
                <br/>
                <br/>
                <span class="timestamp">time stamp ${msg.sent_time}</span>
                <br/>
                <br/>
                <div class="content">
                    content : ${msg.content}
                </div>
            </div>
            <hr/>
        `).join('');
        }

    } catch (error) {
        console.error('Erro:', error);
    }
}
</script>

    <button class="button-style" id="submitMessage">
        Click Me!
    </button>
  
    <textarea class="textarea-style" id="your_message"></textarea>

    <div id="tweet-list" style="color:white;">

    </div>

{% endblock %}