{%block card%}
    <div class="card {{size}}">
        <div class="image">
   
        </div>
        <div class="name">
            <h3>
                Mccartheney Mendes
            </h3>
        </div>
        <div class="course">
            <p>
                Web Development
            </p>
        </div>
        <div class="description">
            <p>
                Sou em desenvolvedor web fullstack, atualmente esto fazendo o curso de desenvolvimento web para mehorara as milhas habilidades e tmb criar uma networking
            </p>
        </div>
        <div class="seemore">
            <button>
                ver mais
            </button>
        </div>
    </div>
{% endblock %}