<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Netics{% endblock %}</title>
</head>

<body>
    {% include 'particle/particle.html' with quantity=20 %}

    <div class="topBar">
        <div class="logo">

        </div>

        <nav>
            <a href="/" class="normal">Home</a>
            <a href="/network" class="normal">My network</a>
            <a href="/perfil" class="user"></a>
        </nav>
    </div>

    {% block content %}
    
    {% endblock%}

</body>

</html>