{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="choseCourse">
        <h2>
            Eu quero um 
        </h2>
        <div class="selector_choseCourse" tabindex="0">
            <div class="option">
                <p>Ui/Ux degin</p>
            </div>
            <div class="option">
                <p>Web development and comunication</p>
            </div>
            <div class="option">
                <p>Marketing and Social Media</p>
            </div>
        </div>
        <div class="choseCourse_blur">
        
        </div>
    </div>

    <div class="cards">

        {%include 'components/card.html' with size="small" image="" name="Mccartheney Mendes" course="web development" description="Sou em desenvolvedor web fullstack, atualmente estou fazendo o curso de desenvolvimento web para mehorar as minhas habilidades e tmb criar uma networking" %}
        {%include 'components/card.html' with size="medium" image="" name="Mccartheney Mendes" course="web development" description="Sou em desenvolvedor web fullstack, atualmente estou fazendo o curso de desenvolvimento web para mehorar as minhas habilidades e tmb criar uma networking" %}
        {%include 'components/card.html' with size="" image="" name="Mccartheney Mendes" course="web development" description="Sou em desenvolvedor web fullstack, atualmente estou fazendo o curso de desenvolvimento web para mehorar as minhas habilidades e tmb criar uma networking" %}
        {%include 'components/card.html' with size="medium" image="" name="Mccartheney Mendes" course="web development" description="Sou em desenvolvedor web fullstack, atualmente estou fazendo o curso de desenvolvimento web para mehorar as minhas habilidades e tmb criar uma networking" %}
        {%include 'components/card.html' with size="small" image="" name="Mccartheney Mendes" course="web development" description="Sou em desenvolvedor web fullstack, atualmente estou fazendo o curso de desenvolvimento web para mehorar as minhas habilidades e tmb criar uma networking" %}
    </div>

    <script type="module" src="{% static 'js/index.js'%}" ></script>
    <script type="module" src="{% static 'js/courseSlider/slider.js'%}"></script>
{% endblock %}