{% load static %}

{% block userModel %}
<div class="userModel ">
    <div class="userModel_card">
        <div class="userModel_card_close">
            <button class="userModel_card_close-bt">
                x
            </button>
        </div>
        <div class="userModel_card_topInfo">
            <div class="userModel_card_topInfo_image">
                <img src="https://picsum.photos/250/250" alt="">
            </div>
            <div class="userModel_card_topInfo_info">
                <h3>Name</h3>
                <p>Course</p>
            </div>
        </div>
        <div class="userModel_card_descriptions">
            <p class="sinopse">Initial description</p>
            <br><br>
            <p class="description">Full description</p>
        </div>
        <div class="userModel_card_links">
            <a href="" class="github"><img src="{% static 'images/userLinksLogo/github.png' %}" alt=""></a>
            <a href="" class="linkedIn"><img src="{% static 'images/userLinksLogo/linkedin.png' %}" alt=""></a>
            <a href="" class="insta"><img src="{% static 'images/userLinksLogo/insta.png' %}" alt=""></a>
            <a href="" class="web"><img src="{% static 'images/userLinksLogo/web.png' %}" alt=""></a>
        </div>
    </div>
</div>
{% endblock %}