@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.choseCourse {
  background-color: #282828;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choseCourse h1 {
  font-style: "Montserrat", sans-serif;
  font-size: 45px;
  color: #8b8b8b;
  margin-right: 30px;
  color: white;
}
.choseCourse .choseCourse_blur {
  position: absolute;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(139, 139, 139, 0);
}
.choseCourse .choseCourse_selection:hover ~ .choseCourse_blur {
  display: block;
  background-color: rgba(139, 139, 139, 0.3411764706);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 0.5s;
}
.choseCourse .choseCourse_selection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  height: 80px;
}
.choseCourse .choseCourse_selection:hover .invisible {
  pointer-events: auto;
  opacity: 1;
  transition: 0.5s;
}
.choseCourse .choseCourse_selection:hover .invisible p {
  border-bottom: 0px !important;
  font-size: 25px !important;
  font-weight: lighter !important;
  color: #8b8b8b;
}
.choseCourse .choseCourse_selection .invisible {
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  margin: 20px 0px;
  font-size: 25px !important;
  font-weight: lighter !important;
  color: #8b8b8b;
  border-bottom: 0px !important;
}
.choseCourse .choseCourse_selection .choseCourse_selection_course p {
  height: -moz-min-content;
  height: min-content;
  width: -moz-max-content;
  width: max-content;
  font-size: "Lato", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  border-bottom: 3px solid white;
}

body {
  background-color: #121212;
}

.topBar {
  height: 80px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}
.topBar .logo {
  width: 50px;
  height: 50px;
  background-color: #613583;
  border-radius: 100%;
}
.topBar nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topBar nav .user {
  display: block;
  width: 50px !important;
  height: 50px !important;
  background-color: #613583;
  border-radius: 100%;
}
.topBar nav a {
  margin-left: 50px;
  text-decoration: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */