{% extends "base.html" %}
{%load static%}

{% block content%}
  <header>
			<h1 class="title">My Network</h1>
	</header>

	<main>
		<ul>
			{% for user_info in users_data %}
				<li class="cardss">

					{% include 'components/card.html' with size="" image=user_info.imagem name=user_info.nome course=user_info.curso description=user_info.sinopse big_discription=user_info.descricao %}
				</li>
			{% endfor %}
				
		</ul>   

	{% include 'components/userModel.html' %}
	<script type="module" src="{% static 'js/cardsHandler/cardsHandler.js'%}"></script>
	</main>

{% endblock%}   