{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="choseCourse">
        <!-- <h2>
            Eu quero um 
        </h2> -->
        <div class="selector_choseCourse" tabindex="0">
            {% for course in courses %}
                <div class="option">
                    <p>{{course}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="choseCourse_blur">
        
        </div>
    </div>

    
    <div class="cards">
        {% include 'components/card.html' with usable="no" size="small" image="https://picsum.photos/300/250" name="neticDevelopers" course="The best Course" description="We Hope Bruno lanconi Like that Project and give us 20 points, pls lanconi give us 20 :)" %}
        {% include 'components/card.html' with usable="no" size="medium" image="https://picsum.photos/250/300" name="neticDevelopers" course="The best Course" description="We Hope Bruno lanconi Like that Project and give us 20 points, pls lanconi give us 20 :)" %}
        {% for user_info in users_data %}
            {% include 'components/card.html' with size="" image=user_info.imagem name=user_info.first_name course=user_info.curso description=user_info.sinopse big_discription=user_info.descricao_longa %}
        {% endfor %}
        {% include 'components/card.html' with usable="no" size="medium" image="https://picsum.photos/200/250" name="neticDevelopers" course="The best Course" description="We Hope Bruno lanconi Like that Project and give us 20 points, pls lanconi give us 20 :)" %}
        {% include 'components/card.html' with usable="no" size="small" image="https://picsum.photos/250/200" name="neticDevelopers" course="The best Course" description="We Hope Bruno lanconi Like that Project and give us 20 points, pls lanconi give us 20 :)" %}
        
    </div>
    {% include 'components/userModel.html' %}
    <script>
        window.initialCourse = "Programação Web"
    </script>
    <script type="module" src="{% static 'js/index.js'%}" ></script>
    <script type="module" src="{% static 'js/courseSlider/slider.js'%}"></script>
    <script type="module" src="{% static 'js/cardsHandler/cardsHandler.js'%}"></script>
{% endblock %}